# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Asa Nyaga
email: asa.nyaga@gmail.com
description: >-
  Practical AI strategy and engineering insights by Asa Nyaga.
  Guides for technical leaders integrating AI into their businesses,
  hands-on tutorials, and perspectives on the future of work.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://asanyaga.com"
twitter_username: asanyaga
github_username: asanyaga

# Build settings
# theme: minima
remote_theme: "mmistakes/minimal-mistakes@4.27.3"
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - "jekyll-remote-theme"
  - "jekyll-include-cache"    # Required by minimal-mistakes
# Author information
author:
  name: "Asa Nyaga"
  avatar: "/assets/images/bio-photo.jpg"  # path to your photo
  bio: "AI Engineer | Product Manager"
  location: "Nairobi, Kenya"
  # email: "asa.nyaga@gmail.com"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://asanyaga.com"
    - label: "X"
      icon: "fab fa-fw fa-x-twitter"
      url: "https://x.com/asanyaga"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/asanyaga"
# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: # true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
